<div class="container">
  <h1 class="text-center mb-4">{{ featureData.sectionTitle }}</h1>
  <div class="row">
    <div class="col features text-center">
      <img src={{featureData.feature1.image}} alt="" />
      <div class="text-center">
        <h4>{{featureData.feature1.title}}</h4>
        <p>{{featureData.feature1.text}}</p>
      </div>
    </div>
    <div class="col features text-center">
      <img src={{featureData.feature2.image}} alt="" />
      <div class="text-center">
        <h4>{{featureData.feature2.title}}</h4>
        <p>{{featureData.feature2.text}}</p>
      </div>
    </div>
    <div class="col features text-center">
      <img src={{featureData.feature3.image}} alt="" />
      <div class="text-center">
        <h4>{{featureData.feature3.title}}</h4>
        <p>{{featureData.feature3.text}}</p>
      </div>
    </div>
    <div class="col features text-center">
      <img src={{featureData.feature4.image}} alt="" />
      <div class="text-center">
        <h4>{{featureData.feature4.title}}</h4>
        <p>{{featureData.feature4.text}}</p>
      </div>
    </div>
  </div>
</div>
